.all-room-btn{
    text-align: right;
}
.home-structure{
    padding-left: 160px;
    padding-right: 50px;
}
.bed-room{
    background-color: #07f9ad85;   
    border: 3px solid #00faa7;
    height: 150px;
    padding-top: 60px;
}
.living-room{
    margin-top: 55px;
    background: #2f286b;
    height: 150px;
    border: 1px solid #473f8a;
    padding-top: 64px;
}