.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.content {
  height: 100vh;
  background-color: #3d377f;
  color: #fff;
}
.side-component{
  background-color: #103877;
  width:600px;
  height: 100vh;
}
.primary{
  display: flex;
  padding: 50px;
}
.MuiButton-containedPrimary-13 {
  color: #fff;
  padding: 30px 50px;
  margin: 0px 200px 100px;
  display: block;
  /* float: right; */
  background-color: #3f51b5;
}